.profile-header-container {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    width: 100%;
}
.cover-photo-wrapper {
    width: 900px;
    height: 300px;
    margin: 0;
    background-color: white;
}
.cover-photo-wrapper img{
    width: 900px;
    height: 300px;
    margin: 0;
    object-fit: cover;
    border-radius: 10px;
}
.profile-photo-wrapper{
    position: absolute;
    width: 150px;
    height: 150px;
    padding: 3px;
    border-radius: 50%;
    background-color: white;
    margin-top: 250px;
    margin-left: -550px;
}
.profile-photo-wrapper img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
 
.profile-page-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-color: white;
    width: 100%;
    height: 100%;
}

.header-bottom {
    position: relative;
    height: 110px;
    float: left;
}
.header-bottom h5 {
    color: black;
    font-size: 30px;
    margin-top: 17px;
    margin-bottom: 5px;
    font-family: inherit;
    margin-left: -190px;
}
.header-bottom p {
    color: gray ;
    font-size: 14px;
    margin: 5px;
    font-family: inherit;
    margin-left: -190px;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
}
.profile-button .button-wrapper-follow{
    position:absolute;
    margin: 5px;
    padding: 5px;
    bottom: 40px;
    right: 400px;
}
.profile-button .button-wrapper-msg {
    position:absolute;
    margin: 5px;
    padding: 5px;
    bottom: 40px;
    right: 250px;
}
.button-wrapper-edit {
    position:absolute;
    margin: 5px;
    padding: 5px;
    bottom: 40px;
    right: 250px;
    color: gray;
}
/* .profile-setting-icon  svg{
    width: 26px;
    height: 26px;
} */

.button-wrapper{
    background-color: rgb(172, 170, 170);
    color: white;
    font-size: 14px;
    width: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.profile-button .button-wrapper:hover{
    background-color: var(--blueclr);
}

.msg-button, .follow-button {
    margin-left: 10px;
}
.profile-setting-icon:hover {
   color: black;
}